* {
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 89, 235, 1) 0%,
    rgba(0, 194, 232, 1) 28%
  );
  font-family: 'Omnes', sans-serif;
  font-size: 20px;
}

#container {
  width: 100%;
  min-height: 100%;

  margin-bottom: -50px;
}

.navbar {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 25px;
  border: 2px thin;
  margin-left: 1%;
  margin-right: 53%;
}

.banner {
  margin-left: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainbody {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 25px;
  border: 2px thin;
  margin-left: 1%;
  margin-right: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 25px;
  border: 2px thin;
  margin-left: 1%;
  margin-right: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 25px;
  border: 2px thin;
  margin-left: 1%;
  font-weight: bold;
  margin-right: 65%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 212, 255, 1) 0%,
    rgba(55, 222, 255, 1) 6%
  );
}

.footertext {
  color: white;
  font-size: 15px;
  margin-left: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.header {
  font-size: 45px;
  color: #00bce1;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.first {
  color: #00bce1;
  font-size: 22px;
  margin-left: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.second {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.eatitgif {
  border-radius: 25px;
  border: 2px thin;
  margin-right: 1px;
  margin-left: 1px;
  width: 30%;
}

.button {
  background-color: #00bce1;
  color: white;
  padding: 10px 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Omnes', sans-serif;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.tulokset {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 25px;
  border: 2px thin;
  margin-left: 1%;
  font-weight: bold;
  margin-right: 65%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 212, 255, 1) 0%,
    rgba(55, 222, 255, 1) 6%
  );
}

/* mobile */

@media screen and (min-width: 801px) and (max-width: 959px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }

  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 800px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }
  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }
  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 568px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }
  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin: 10px;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }
  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin: 10px;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }
  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .navbar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin: 10px;
  }
  .footer {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 54%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .tulokset {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    font-weight: bold;
    margin-right: 25%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(65, 212, 255, 1) 0%,
      rgba(55, 222, 255, 1) 6%
    );
  }
  .sidebar {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mainbody {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 2px thin;
    margin-left: 1%;
    margin-right: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .eatitgif {
    border-radius: 25px;
    border: 2px thin;
    margin-right: 1px;
    margin-left: 1px;
    width: 80%;
  }
  .button {
    background-color: #00bce1;
    color: white;
    padding: 13px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Omnes', sans-serif;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
