body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 89, 235, 1) 0%,
    rgba(0, 194, 232, 1) 28%
  );
  font-family: 'Omnes', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 45 px;
  color: white;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 90px;
}

.first {
  color: white;
  font-size: 22px;
  text-align: center;
}

.second {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

#eatitgif {
  width: 500px;
  height: 200px;
  border-radius: 10%;
  margin-right: 33%;
  margin-left: 33%;
}

.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Omnes', sans-serif;
  border-radius: 5px;
  margin-right: 45%;
  margin-left: 45%;
}
