body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 89, 235, 1) 0%,
    rgba(0, 194, 232, 1) 28%
  );
  font-family: 'Omnes', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 45 px;
  color: white;
}

.first {
  color: white;
  font-size: 25px;
}

#eatitgif {
  width: 500px;
  height: 200px;
  border-radius: 10%;
}

.button {
  background-color: #00c2e8; /* Green */
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Omnes', sans-serif;
}
